term_manager_temp.py
updates/
cart_raw_ico/
results_cart_tests/
temp_dir_for_edit/
_temp_arc_unpack/
__pycache__/
alt_text
cart_dump_table.py
c.bat
clearKB.py
conalaun.conf
conalaun.py
constant_strings.dat
create-database.sql
db_manager.py
diff/
diffbydef.py
documentation/
fast_string_scan.py.txt
future wild ideas
groups
i.bat
ico_compiler.py
keys.txt
logs
logs/
lumber.py
make_ico.py
manifest.txt
next-steps.txt
__pycache__
setupdb.py
term_manager.py
TESTING-SQL.txt
Test-Results.ods
version.txt
.vscode
